services:
  mihomo:
    # 你仓库原来用什么镜像就保留什么，这里只演示
    image: metacubex/mihomo:latest
    container_name: mihomo
    hostname: mihomo
    restart: always
    mac_address: ${mihomomac}
    networks:
      macvlan:
        ipv4_address: ${mihomo4}
    volumes:
      - ./:/root/.config/mihomo

networks:
  macvlan:
    external: true
    name: ${MACVLAN_NET}